<footer class="footer-content" id="footer">
    <div class="container footer-container">
        <div class="footer-form-nav-social">
            <div class="footer-logo-form">
                <div class="footer-logo">
                    <a href="index.html" target="_blank">
                        <svg class="footer-logo-icon" width="83" height="24">
                            <use href="/img/footer/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer-form">
                    <label class="footer-form-label" for="footer-form-input">Subscribe to our newsletter for the latest
                        updates
                        on our yoga courses
                        and
                        events.
                    </label>
                    <div class="footer-form-input-button">
                        <input class="footer-form-input" id="footer-form-input" type="text" name="email" placeholder="Your email here"
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                        <button class="footer-button" type="submit">Join</button>
                    </div>
                    <span class="footer-form-span">By subscribing, you consent to our Privacy Policy and agree to
                        receive
                        updates.</span>
                </div>
            </div>
            <div class="footer-nav-social">
                <div class="footer-nav">
                    <h3 class="footer-nav-heading">Quick Links</h3>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="#yoga-helps">Yoga Classes</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="team">Team</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#pricing">Pricing</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#footer">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-social">
                    <h3 class="footer-social-heading">Connect With Us</h3>
                    <ul class="footer-social-list">
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="https://www.facebook.com/" target="_blank">
                                <svg class="footer-social-icon" width="24" height="24">
                                    <use href="/img/footer/icons.svg#icon-facebook">
                                    </use>
                                </svg>
                                <span class="footer-social-name">Facebook</span>
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="https://www.instagram.com/" target="_blank">
                                <svg class="footer-social-icon" width="24" height="24">
                                    <use href="/img/footer/icons.svg#icon-instagram">
                                    </use>
                                </svg>
                                <span class="footer-social-name">Instagram</span>
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="https://www.linkedin.com/" target="_blank">
                                <svg class="footer-social-icon" width="24" height="24">
                                    <use href="/img/footer/icons.svg#icon-linkedin">
                                    </use>
                                </svg>
                                <span class="footer-social-name">LinkedIn</span>
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="https://www.youtube.com/" target="_blank">
                                <svg class="footer-social-icon" width="24" height="24">
                                    <use href="/img/footer/icons.svg#icon-youtube">
                                    </use>
                                </svg>
                                <span class="footer-social-name">YouTube</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-copyright">
            © 2025 Yoga Studio. All rights reserved.
        </p>
    </div>
</footer>