<footer class="footer-content">
    <div class="container footer-container">
        <div class="footer-logo">
            <a href="index.html" target="_blank">
                <svg class="footer-logo-icon" width="83" height="24">
                    <use href="../img/footer/icons.svg#icon-logo"></use>
                </svg>
            </a>

        </div>
        <div class="footer-form">
            <label class="footer-form-label">Subscribe to our newsletter for the latest updates on our yoga courses
                and
                events.
                <input class="footer-form-input" type="email" name="email" placeholder="Your email here" pattern email="
                    ([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
            </label>
            <button class="footer-button" type="submit">Join</button>
            <span>By subscribing, you consent to our Privacy Policy and agree to receive updates.</span>
        </div>
        <div class="footer-nav">
            <h3 class="footer-nav-heading">Quick Links</h3>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a href="href=#yoga_classes">Yoga Classes</a>
                </li>
                <li class="footer-nav-item">
                    <a href="href=#team">Team</a>
                </li>
                <li class="footer-nav-item">
                    <a href="href=#pricing">Pricing</a>
                </li>
                <li class="footer-nav-item">
                    <a href="href=#contacts">Contacts</a>
                </li>
            </ul>

        </div>
        <div class="footer-social">
            <h3 class="footer-social-heading">Connect With Us</h3>
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a href="https://www.facebook.com/" target="_blank">
                        <svg width="24" height="24">
                            <use href="../img/footer/icons.svg#icon-facebook">
                            </use>
                        </svg>
                        <span>Facebook</span>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="https://www.instagram.com/" target="_blank">
                        <svg width="24" height="24">
                            <use href="../img/footer/icons.svg#icon-instagram">
                            </use>
                        </svg>
                        <span>Instagram</span>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="https://www.linkedin.com/" target="_blank">
                        <svg width="24" height="24">
                            <use href="../img/footer/icons.svg#icon-linkedin">
                            </use>
                        </svg>
                        <span>LinkedIn</span>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="https://www.youtube.com/" target="_blank">
                        <svg width="24" height="24">
                            <use href="../img/footer/icons.svg#icon-youtube">
                            </use>
                        </svg>
                        <span>YouTube</span>
                    </a>
                </li>
            </ul>

        </div>
        <p class="footer-copyright">
            © 2025 Yoga Studio. All rights reserved.
        </p>
    </div>
</footer>