<section class="gallery">
    <div class="container">
        <h2 class="gallery-header">Breathe in the Space</h2>
        <p class="gallery-paragraph">Step inside YogaBloom and feel the calm. Explore our serene studio and the
            peaceful moments our community
            shares during
            each session.</p>
        <div class="gallery-images">
            <ul class="gallery-images-list">
                <li class="gallery-item">
                    <picture>
                        <source
                            srcset="/img/gallery/gallery-first-desk.jpg 1x, /img/gallery/gallery-first-desk@2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/img/gallery/gallery-first-tab.jpg 1x, ../img/gallery/gallery-first-tab@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1335px)">
                        <source
                            srcset="/img/gallery/gallery-first-mob.jpg 1x, /img/gallery/gallery-first-mob@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="/img/gallery/gallery-first-desk.jpg" alt="photo-people-practicing-yoga">
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source
                            srcset="/img/gallery/gallery-second-desk.jpg 1x, /img/gallery/gallery-second-desk@2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/img/gallery/gallery-second-tab.jpg 1x, /img/gallery/gallery-second-tab@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1335px)">
                        <source
                            srcset="/img/gallery/gallery-second-mob.jpg 1x, /img/gallery/gallery-second-mob@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="/img/gallery/gallery-second-desk.jpg" alt="photo-people-practicing-yoga">
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source
                            srcset="/img/gallery/gallery-third-desk.jpg 1x, /img/gallery/gallery-third-desk@2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/img/gallery/gallery-third-tab.jpg 1x, /img/gallery/gallery-third-tab@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1335px)">
                        <source
                            srcset="/img/gallery/gallery-third-mob.jpg 1x, /img/gallery/gallery-third-mob@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="/img/gallery/gallery-third-desk.jpg" alt="photo-people-practicing-yoga">
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source
                            srcset="/img/gallery/gallery-fourth-desk.jpg 1x, /img/gallery/gallery-fourth-desk@2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/img/gallery/gallery-fourth-tab.jpg 1x, /img/gallery/gallery-fourth-tab@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1335px)">
                        <source
                            srcset="/img/gallery/gallery-fourth-mob.jpg 1x, /img/gallery/gallery-fourth-mob@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="/img/gallery/gallery-fourth-desk.jpg" alt="photo-people-practicing-yoga">
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source
                            srcset="/img/gallery/gallery-fifth-desk.jpg 1x, /img/gallery/gallery-fifth-desk@2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/img/gallery/gallery-fifth-tab.jpg 1x, /img/gallery/gallery-fifth-tab@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1335px)">
                        <source
                            srcset="/img/gallery/gallery-fifth-mob.jpg 1x, /img/gallery/gallery-fifth-mob@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="/img/gallery/gallery-fifth-desk.jpg" alt="photo-people-practicing-yoga">
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source
                            srcset="/img/gallery/gallery-sixth-desk.jpg 1x, /img/gallery/gallery-sixth-desk@2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/img/gallery/gallery-sixth-tab.jpg 1x, /img/gallery/gallery-sixth-tab@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1335px)">
                        <source
                            srcset="/img/gallery/gallery-sixth-mob.jpg 1x, /img/gallery/gallery-sixth-mob@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="/img/gallery/gallery-sixth-desk.jpg" alt="photo-people-practicing-yoga">
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>
