<section class="heading-section">
    <div class="container-fluid">
        <picture>
            <source srcset="
                            ../img/heading/heading-desk.jpg 1x, 
                            ../img/heading/heading-desk@2x.jpg 2x" 
                            media="(min-width: 1336px)" />
            <source srcset="
                            ../img/heading/heading-tab.jpg 1x,
                            ../img/heading/heading-tab@2x.jpg 2x
                          " media="(min-width: 768px)" />
            <source srcset="
                            ../img/heading/heading-mob.jpg 1x,
                            ../img/heading/heading-mob@2x.jpg 2x
                          " media="(max-width: 767px)" />
            <img class="heading-img" src="../img/heading/heading-mob.jpg" alt="Girl and sea" />
        </picture>
    </div>
    <div class="container heading-content-container">
        <h1 class="heading-title-text">Transform Your Life with Our Yoga Courses</h1>
        <div class="heading-div">
            <p class="heading-description">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to
            wellness and personal growth.</p>
            <ul class="heading-btn-list">
                <li class="heading-btn-list-item"><a class="heading-btn-list-item-link" href="">Join</a></li>
                <li class="heading-btn-list-item-2"><a class="heading-btn-list-item-link" href="">Learn More</a></li>
            </ul>
        </div>
    </div>
</section>