<header class="header-section">
    <div class="container header-container">
        <button type="button" class="header-burger-button">
          <svg class="header-menu-svg" width="24" height="24">
              <use href="/img/header/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <div class="header-list-adn-logo-div">
            <ul class="header-list">
                <li class="header-list-li"><a class="header-list-li-a header-list-li-a-first" href="#heading">Yoga Classes</a></li>
                <li class="header-list-li"><a class="header-list-li-a" href="#team">Team</a></li>
                <li class="header-list-li"><a class="header-list-li-a" href="#testimonials">Testimonials</a></li>
                <li class="header-list-li"><a class="header-list-li-a" href="#prising">Pricing</a></li>
                <li class="header-list-li"><a class="header-list-li-a" href="#footer">Contacts</a></li>
            </ul>
            <svg class="heaer-logo-svg" width="83" height="24">
                <use href="/img/header/icons.svg#icon-logo"></use>
            </svg>
        </div>
        <a href="#pricing" class="header-btn-1">Join</a>
        <a href="#pricing" class="header-btn-2">Join Now</a>
    </div>
</header>