<section class="pricing">
  <div class="container">
    <p class="pricing-tagline">Affordable</p>
    <h2 class="pricing-title">Pricing Plans</h2>
    <p class="pricing-descr">Choose the perfect plan for your yoga journey.</p>
    <ul class="pricing-plan">
      <li class="pricing-plan-item">
        <div>
          <h3 class="title">One Session</h3>
          <p class="price">$10</p>
          <ul class="pricing-list">
            <li class="pricing-list-item">
              <svg width="24" height="24">
                <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
              </svg>
              <p class="pricing-list-item-descr">1 group session</p>
            </li>
            <li class="pricing-list-item">
              <svg width="24" height="24">
                <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
              </svg>
              <p lass="pricing-list-item-descr">
                10% discount for next 2 Sessions
              </p>
            </li>
            <li class="pricing-list-item">
              <svg width="24" height="24">
                <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
              </svg>
              <p lass="pricing-list-item-descr">Community support group</p>
            </li>
          </ul>
        </div>
        <button class="pricing-butn" type="button">Join</button>
      </li>
      <li class="pricing-plan-item">
        <div>
          <h3 class="title">8 Sessions Package</h3>
          <p class="price">$65</p>
          <ul class="pricing-list">
            <li class="pricing-list-item">
              <svg width="24" height="24">
                <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
              </svg>
              <p lass="pricing-list-item-descr">6 Group Sessions</p>
            </li>
            <li class="pricing-list-item">
              <svg width="24" height="24">
                <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
              </svg>
              <p lass="pricing-list-item-descr">2 Individual Sessions</p>
            </li>
            <li class="pricing-list-item">
              <svg width="24" height="24">
                <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
              </svg>
              <p lass="pricing-list-item-descr">Priority customer support</p>
            </li>
          </ul>
        </div>
        <button class="pricing-butn" type="button">Join</button>
      </li>
      <li class="pricing-plan-item">
        <h3 class="title">12 Sessions Package</h3>
        <p class="price">$80</p>
        <ul class="pricing-list">
          <li class="pricing-list-item">
            <svg width="24" height="24">
              <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
            </svg>
            <p lass="pricing-list-item-descr">8 Group Sessions</p>
          </li>
          <li class="pricing-list-item">
            <svg width="24" height="24">
              <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
            </svg>
            <p lass="pricing-list-item-descr">4 Individual Sessions</p>
          </li>
          <li class="pricing-list-item">
            <svg width="24" height="24">
              <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
            </svg>
            <p lass="pricing-list-item-descr">Access to advanced classes</p>
          </li>
          <li class="pricing-list-item">
            <svg width="24" height="24">
              <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
            </svg>
            <p lass="pricing-list-item-descr">Monthly yoga challenges</p>
          </li>
          <li class="pricing-list-item">
            <svg width="24" height="24">
              <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
            </svg>
            <p lass="pricing-list-item-descr">Exclusive member discounts</p>
          </li>
          <li class="pricing-list-item">
            <svg width="24" height="24">
              <use href="../img/pricing/sprite.svg#icon-pricing-tick"></use>
            </svg>
            <p lass="pricing-list-item-descr">Community support group</p>
          </li>
        </ul>
        <button class="pricing-butn" type="button">Join</button>
      </li>
    </ul>
  </div>
</section>
