<section class="programs" id="programs">
    <div class="container">
        <div class="box">
            <h3 class="subheader">Explore</h3>
            <h1 class="title">Discover Our Most Popular Yoga Programs</h1>
            <p class="text">Join our community and elevate your practice with our expertly designed yoga programs. Each
                course is tailored to meet various skill levels and personal goals.</p>
        </div>
        <ul class="program-list">
            <li class="program-item">
                <div class="program-card">
                    <div class="programs-images">
                        <picture>
                            <source
                                srcset="./img/programs/beginner-yoga-mob.jpg 1x, ./img/programs/beginner-yoga-mob@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <source
                                srcset="./img/programs/beginner-yoga-tab.jpg 1x, ./img/programs/beginner-yoga-tab@2x.jpg 2x"
                                media="(min-width: 768px) and (max-width: 1335px)">
                            <source srcset="./img/programs/beginner-yoga.jpg 1x, ./img/programs/beginner-yoga@2x.jpg 2x"
                                media="(min-width: 1336px)">
                            <img src="./img/programs/beginner-yoga.jpg" alt="Beginner Yoga" class="program-image">
                        </picture>
                    </div>
                    <div class="program-content">
                        <h2 class="program-title">Beginner Yoga: Foundations <span class="program-span">for New
                                Practitioners</span></h2>
                        <p class="program-text">Learn the basics of yoga in a supportive environment.</p>
                    </div>
                </div>
                <div class="program-card">
                    <div class="programs-images">
                        <picture>
                            <source
                                srcset="./img/programs/vinyasa-flow-mob.jpg 1x, ./img/programs/vinyasa-flow-mob@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <source
                                srcset="./img/programs/vinyasa-flow-tab.jpg 1x, ./img/programs/vinyasa-flow-tab@2x.jpg 2x"
                                media="(min-width: 768px) and (max-width: 1335px)">
                            <source srcset="./img/programs/vinyasa-flow.jpg 1x, ./img/programs/vinyasa-flow@2x.jpg 2x"
                                media="(min-width: 1336px)">
                            <img src="./img/programs/vinyasa-flow.jpg" alt="Vinyasa Flow" class="program-image">
                        </picture>
                    </div>
                    <div class="program-content">
                        <h2 class="program-title">Vinyasa Flow: Energize Your Body and Mind</h2>
                        <p class="program-text">Experience a dynamic sequence that connects breath and movement.</p>
                    </div>
                </div>
            </li>
            <li class="program-item">
                <div class="program-card full-width">
                    <div class="programs-images">
                        <picture>
                            <source
                                srcset="./img/programs/restorative-yoga-mob.jpg 1x, ./img/programs/restorative-yoga-mob@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <source
                                srcset="./img/programs/restorative-yoga-tab.jpg 1x, ./img/programs/restorative-yoga-tab@2x.jpg 2x"
                                media="(min-width: 768px) and (max-width: 1335px)">
                            <source
                                srcset="./img/programs/restorative-yoga.jpg, ./img/programs/restorative-yoga@2x.jpg 2x"
                                media="(min-width: 1336px)">
                            <img src="./img/programs/restorative-yoga.jpg" alt="Restorative Yoga"
                                class="program-image final">
                        </picture>
                    </div>
                    <div class="program-content">
                        <h2 class="program-title">Restorative Yoga: Deep Relaxation and Healing</h2>
                        <p class="program-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#pricing" class="join-btn">Join <span class="span-now">now</span></a>
    </div>
</section>