<section class="section team" id="team">
    <div class="container">
        <p class="team-label">Meet</p>
           <h2 class="team-title">Our Team</h2>
        <p class="team-paragraph">
            Dedicated professionals passionate about yoga and wellness.</p>
         
          <ul class="team-nav-list">
    <li class="team-nav-item">
            <picture>
                 <source
                 srcset="/img/team.img/liam-johnson-desk@1x.jpg 1x, /img/team.img/liam-johnson-desk@2x.jpg 2x"
                media="(min-width:1336px)">
                <source srcset="/img/team.img/liam-johnson-mob@1x.jpg 1x, /img/team.img/liam-johnson-mob@2x.jpg 2x"
                  media="(max-width: 767px)">
                <source srcset="/img/team.img/liam-johnson-tab@1x.jpg 1x, /img/team.img/liam-johnson-tab@2x.jpg 2x"
                  media="(min-width:768px)">
                 <img class="team-image" 
                 src="/img/team.img/liam-johnson-mob@1x.jpg" 
                 alt="Liam Johnson">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Liam Johnson</h3>
                 <p class="team-job">Yoga Instructor</p>
                   <p class="team-descr">Liam has over 10 years of experience in Hatha and Vinyasa yoga.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-linkedin"></use>
                    </svg>
                   </a>
                  </li>

                   <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-instagram"></use>
                    </svg>
                   </a>
                 </li>
               </ul>
            </div>
          </li>
    <li class="team-nav-item">
            <picture>
                 <source
                 srcset="../img/team.img/emma-stone-desk@1x.jpg 1x, /img/team.img/emma-stone-desk@2x.jpg 2x"
                media="(min-width:1336px)">
                <source srcset="/img/team.img/emma-stone-mob@1x.jpg 1x, /img/team.img/emma-stone-mob@2x.jpg 2x"
                  media="(max-width: 767px)">
                <source srcset="/img/team.img/emma-stone-tab@1x.jpg 1x, /img/team.img/emma-stone-tab@2x.jpg 2x"
                  media="(min-width:768px)">
                <img class="team-image" 
                src="/img/team.img/emma-stone-mob@1x.jpg" 
                alt="Emma Stone">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Emma Stone</h3>
                 <p class="team-job">Meditation Coach</p>
                   <p class="team-descr">Emma specializes in mindfulness and stress reduction techniques through guided meditation.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    <li class="team-nav-item">
            <picture>
                 <source
                 srcset="/img/team.img/sophia-lee-desk@1x.jpg 1x, /img/team.img/sophia-lee-desk@2x.jpg 2x"
                media="(min-width:1336px)">
                <source srcset="/img/team.img/sophia-lee-mob@1x.jpg 1x, /img/team.img/sophia-lee-mob@2x.jpg 2x"
                  media="(max-width: 767px)">
                <source srcset="/img/team.img/sophia-lee-tab@1x.jpg 1x, /img/team.img/sophia-lee-tab@2x.jpg 2x"
                  media="(min-width:768px)">
                <img class="team-image" 
                src="/img/team.img/sophia-lee-mob@1x.jpg" 
                alt="Sophia Lee">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Sophia Lee</h3>
                 <p class="team-job">Pilates Trainer</p>
                   <p class="team-descr">Sophia combines Pilates with yoga for a holistic fitness approach.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    
    <li class="team-nav-item">
            <picture>
                 <source
                 srcset="/img/team.img/noah-brown-desk@1x.jpg 1x, /img/team.img/noah-brown-desk@2x.jpg 2x"
                media="(min-width:1336px)">
                <source srcset="/img/team.img/noah-brown-mob@1x.jpg 1x, /img/team.img/noah-brown-mob@2x.jpg 2x"
                  media="(max-width: 767px)">
                <source srcset="/img/team.img/noah-brown-tab@1x.jpg 1x, /img/team.img/noah-brown-tab@2x.jpg 2x"
                  media="(min-width:768px)">
                <img class="team-image" 
                src="/img/team.img/noah-brown-mob@1x.jpg" 
                alt="Noah Brown">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Noah Brown</h3>
                 <p class="team-job">Yoga Therapist</p>
                   <p class="team-descr">Noah focuses on therapeutic yoga to aid recovery and enhance well-being.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    
    <li class="team-nav-item">
            <picture>
                 <source
                 srcset="/img/team.img/ava-green-desk@1x.jpg 1x, /img/team.img/ava-green-desk@2x.jpg 2x"
                media="(min-width:1336px)">
                <source srcset="/img/team.img/ava-green-mob@1x.jpg 1x, /img/team.img/ava-green-mob@2x.jpg 2x"
                  media="(max-width: 767px)">
                <source srcset="/img/team.img/ava-green-tab@1x.jpg 1x, /img/team.img/ava-green-tab@2x.jpg 2x" media="(min-width:768px)">
                <img class="team-image" 
                src="/img/team.img/ava-green-mob@1x.jpg" 
                alt="Ava Green">
            </picture>
            
            <div class="team-card-text">
                <h3 class="team-names">Ava Green</h3>
                 <p class="team-job">Fitness Trainer</p>
                   <p class="team-descr">Ava integrates strength training with yoga to promote overall fitness.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.facebook.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-facebook"></use>
                    </svg>
                   </a>
                  </li>

                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-instagram"></use>
                    </svg>
                   </a>
                  </li>

                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    
    <li class="team-nav-item">
            <picture>
               <source
               srcset="/img/team.img/clark-thomas-desk@1x.jpg 1x, /img/team.img/clark-thomas-desk@2x.jpg 2x"
                media="(min-width:1336px)">
                <source srcset="/img/team.img/clark-thomas-mob@1x.jpg 1x, /img/team.img/clark-thomas-mob@2x.jpg 2x"
                  media="(max-width: 767px)">
                <source srcset="/img/team.img/clark-thomas-tab@1x.jpg 1x, /img/team.img/clark-thomas-tab@2x.jpg 2x"
                  media="(min-width:768px)">
               <img class="team-image" 
               src="/img/team.img/clark-thomas-mob@1x.jpg" 
               alt="Clark Thomas">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">We're hiring!</h3>
                 <p class="team-job">Join Us</p>
                   <p class="team-descr">If you're passionate about yoga, check our open positions and apply!</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.facebook.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-facebook"></use>
                    </svg>
                   </a>
                  </li>
                  
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="/img/team.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
</section>