<section class="section team" id="team">
    <div class="container">
        <p class="team-label">Meet</p>
           <h2 class="team-title">Our Team</h2>
        <p class="team-paragraph">
            Dedicated professionals passionate about yoga and wellness.</p>
         
          <ul class="team-nav-list">
    <li class="team-nav-item">
        <!-- Mobile-pictures -->
            <picture>
                <source
                srcset="../img/team.img/liam-johnson-mob@1x.jpg 1x, ../img/team.img/liam-johnson-mob@2x.jpg 2x"
                media="(max-width: 767px)">
                <!-- Tablet-desktop pictures -->
              <img class="team-image"
                srcset="../img/team.img/liam-johnson@1x.jpg 1x, ../img/team.img/liam-johnson@2x.jpg 2x"
                src="../img/team.img/liam-johnson@1x.jpg" 
                alt="Liam Johnson"
                width="340"
                height="395">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Liam Johnson</h3>
                 <p class="team-job">Yoga Instructor</p>
                   <p class="team-descr">Liam has over 10 years of experience in Hatha and Vinyasa yoga.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-linkedin"></use>
                    </svg>
                   </a>
                  </li>

                   <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-instagram"></use>
                    </svg>
                   </a>
                 </li>
               </ul>
            </div>
          </li>
    <li class="team-nav-item">
        <!-- Mobile-pictures -->
            <picture>
                <source srcset="../img/team.img/emma-stone-mob@1x.jpg 1x, ../img/team.img/emma-stone-mob@2x.jpg 2x" 
                media="(max-width: 767px)">
                <!-- Tablet-desktop pictures -->
              <img class="team-image"
                srcset="../img/team.img/emma-stone@1x.jpg 1x, ../img/team.img/emma-stone@2x.jpg 2x"
                src="../img/team.img/emma-stone@1x.jpg" 
                alt="Emma Stone"
                width="340"
                height="395">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Emma Stone</h3>
                 <p class="team-job">Meditation Coach</p>
                   <p class="team-descr">Emma specializes in mindfulness and stress reduction techniques through guided meditation.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    <li class="team-nav-item">
        <!-- Mobile-pictures -->
            <picture>
                <source srcset="../img/team.img/sophia-lee-mob@1x.jpg 1x, ../img/team.img/sophia-lee-mob@2x.jpg 2x"
                media="(max-width: 767px)">
                <!-- Tablet-desktop pictures -->
              <img class="team-image"
                srcset="../img/team.img/sophia-lee@1x.jpg 1x, ../img/team.img/sophia-lee@2x.jpg 2x"
                src="../img/team.img/sophia-lee@1x.jpg" 
                alt="Sophia Lee"
                width="340"
                height="395">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Sophia Lee</h3>
                 <p class="team-job">Pilates Trainer</p>
                   <p class="team-descr">Sophia combines Pilates with yoga for a holistic fitness approach.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    
    <li class="team-nav-item">
        <!-- Mobile-pictures -->
            <picture>
                <source srcset="../img/team.img/noah-brown-mob@1x.jpg 1x, ../img/team.img/noah-brown-mob@2x.jpg 2x"
                media="(max-width: 767px)">
                <!-- Tablet-desktop pictures -->
              <img class="team-image"
                srcset="../img/team.img/noah-brown@1x.jpg 1x, ../img/team.img/noah-brown@2x.jpg 2x"
                src="../img/team.img/noah-brown@1x.jpg" 
                alt="Noah Brown"
                width="340"
                height="395">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">Noah Brown</h3>
                 <p class="team-job">Yoga Therapist</p>
                   <p class="team-descr">Noah focuses on therapeutic yoga to aid recovery and enhance well-being.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank">
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    
    <li class="team-nav-item">
        <!-- Mobile-pictures -->
            <picture>
                <source srcset="../img/team.img/ava-green-mob@1x.jpg 1x, ../img/team.img/ava-green-mob@2x.jpg 2x" 
                media="(max-width: 767px)">
                <!-- Tablet-desktop pictures -->
              <img class="team-image"
                srcset="../img/team.img/ava-green@1x.jpg 1x, ../img/team.img/ava-green@2x.jpg 2x"
                src="../img/team.img/ava-green@1x.jpg" 
                alt="Ava Green"
                width="340"
                height="395">
            </picture>
            
            <div class="team-card-text">
                <h3 class="team-names">Ava Green</h3>
                 <p class="team-job">Fitness Trainer</p>
                   <p class="team-descr">Ava integrates strength training with yoga to promote overall fitness.</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.facebook.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-facebook"></use>
                    </svg>
                   </a>
                  </li>

                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-instagram"></use>
                    </svg>
                   </a>
                  </li>

                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.linkedin.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
    
    <li class="team-nav-item">
        <!-- Mobile-pictures -->
            <picture>
               <source srcset="../img/team.img/clark-thomas-mob@1x.jpg 1x, ../img/team.img/clark-thomas-mob@2x.jpg 2x" 
               media="(max-width: 767px)">
              <!-- Tablet-desktop pictures -->
              <img class="team-image"
                srcset="../img/team.img/clark-thomas@1x.jpg 1x, ../img/team.img/clark-thomas@2x.jpg 2x"
                src="../img/team.img/clark-thomas@1x.jpg" 
                alt="Clark Thomas"
                width="340"
                height="395">
            </picture>

            <div class="team-card-text">
                <h3 class="team-names">We're hiring!</h3>
                 <p class="team-job">Join Us</p>
                   <p class="team-descr">If you're passionate about yoga, check our open positions and apply!</p>

                <ul class="team-socials-list">
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.facebook.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-facebook"></use>
                    </svg>
                   </a>
                  </li>
                  
                  <li class="team-socials-item">
                    <a 
                    class="team-socials-link" 
                    href="https://www.instagram.com/"
                    target="_blank" >
                    <svg class="team-socials-icon" width="19" height="19">
                      <use href="../img/team.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
</section>