.footer-content {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #DFEBEB;
}

.footer-container {
    background-color: #F8FBFE;
    border-radius: 16px;
    }

/* .container {}
 */


.footer-logo {
    margin-bottom: 20px;
}

.footer-logo-icon {}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form-label {
    font-family: "Saraboon", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;    
}

.footer-form-input {}

.footer-form-input::placeholder {color: rgba (13 11 10 0.6);
}


.footer-button {
    font-family: "Saraboon", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    min-width: 279px;
}

.footer-form-span {
    font-family: "Saraboon", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
}


.footer-nav {}

.footer-nav-heading {
    font-family: "Saraboon", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}

.footer-nav-list {}

.footer-nav-item {
    font-family: "Saraboon", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    }

.footer-social-link::before {}

.footer-social {}

.footer-social-heading {
    font-family: "Saraboon", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}

.footer-social-list {}

.footer-social-item {
    font-family: "Saraboon", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

.footer-social-link {
    fill: #0D0B0A;
    }

.footer-copyright {
    font-family: "Saraboon", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}