.body-no-scroll {
  overflow: hidden;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  background-color: white;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-overlay.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.close-navbar-wrapper {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
}

.navbar {
  font-family: 'Sarabun', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 208px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .navbar {
    max-width: 343px;
  }
}

.navbar-button {
  width: 70px;
  height: 34px;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  font-weight: 500;
  line-height: 1.6;
  color: #0d0b0a;
  background: #c2d9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-main {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  color: #0D0B0A;
  margin-top: 16px;
  flex-grow: 1;
}

.navbar-main > li {
  padding: 12px 0;
}

.navbar > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #C2D9FC;
  border-radius: 100px;
  width: 100%;
  height: 46px;
  background: #C2D9FC;
  margin-bottom: 160px;
}

@media (min-width: 768px) {
  .navbar-overlay {
    padding: 0 32px;
  }

  .navbar > button {
    width: 204px;
  }
}