/* Section team */
.section-team {
  padding: 64px 0;
}
.team-label {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .section-team {
    padding: 40px 0;
  }
  .team-label {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1336px) {
  .section-team {
    padding: 112px 0;
  }
}

.team-title {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .team-title {
    font-size: 52px;
    margin-bottom: 24px;
  }
}

.team-paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .team-paragraph {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.team-nav-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .team-nav-list {
    max-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1336px) {
  .team-nav-list {
    max-width: 1336px;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 768px) {
  .team-nav-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1336px) {
  .team-nav-item {
    width: calc((100% - 48px) / 3);
  }
}

.team-image {
  border-radius: 16px;
}

@media (min-width: 768px) and (max-width: 1335px) {
  .team-image {
    width: 340px;
    height: 395px;
  }
}

@media screen and (min-width: 1336px) {
  .team-image {
    width: 421px;
    height: 395px;
  }
}

.team-names {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}
@media screen and (min-width: 768px) {
  .team-names {
    font-size: 22px;
    margin-top: 24px;
  }
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .team-job {
    margin-bottom: 16px;
    font-style: 18px;
  }
}

.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .team-descr {
    margin-bottom: 24px;
  }
}

.team-socials-list {
  display: flex;
  gap: 14px;
  justify-content: center;
}
.team-socials-icon {
  width: 24px;
  height: 24px;
  fill: #0d0b0a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-icon:hover,
.team-socials-icon:focus {
  fill: #073579;
}
